@media screen and (width < 800px) {
    .article {
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column-reverse;
    }

    .paragraph {
        width: auto !important;
    }
}

body {
    padding: 0 5vw 0 5vw;
    margin: 5vh 0 5vh 0;
}

blockquote {
    color: red;
    font-size: large;
    font-weight: 700;
    float: right;
}

p {
    img {
        float: left;
    }
}

footer {
    border-top: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 20px;
    border-radius: 5px;
    background-color: rgb(247, 244, 240);
    border: 1px solid black;
}

.header {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.header-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px gray;
    transform: rotate(25deg);
}

.center {
    justify-content: center;
    align-items: center;
}

.content-element {
    border: 1px solid black;
    border-radius: 5px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    p {
        text-decoration: none !important;
    }
}

.align-start {
    align-items: start;
}

.paragraph {
    margin: 0 20px 0 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    /* flex: 1 1 250px; */
}

.article {
    flex-wrap: wrap;
}




